### Reading sales data and tentative forecasting model

#### Date: 18/01/2016

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [3]:
import ggplot

In [4]:
# Goes to the shell and finds out the current directory (just in case...)
!cd\

C:\Users\barro\Dropbox\a2i2_flashfarma\PROGRAMAS

In [4]:
# Reading data
df=pd.read_csv('C://Users//barro//Dropbox//a2i2_flashfarma//Estudos//Historico_Categorias_daily.csv')

In [6]:
df.head()

,Data,Dia da Semana,Feriado_Nacional,Carnaval,Pascoa,Tiradentes,Dia_Trabalho,Corpus_Christi,Independencia,NSAparecida,...,Qtde_cat_18,ValPago_cat_18,Qtde_cat_19,ValPago_cat_19,Qtde_cat_20,ValPago_cat_20,Qtde_cat_21,ValPago_cat_21,Qtde_cat_22,ValPago_cat_22
0,01-01-13,3,1,0,0,0,0,0,0,0,...,1,6.70,NaN,NaN,7,31.62,NaN,NaN,NaN,NaN
1,02-01-13,4,0,0,0,0,0,0,0,0,...,NaN,NaN,3,164.37,47,350.66,NaN,NaN,NaN,NaN
2,03-01-13,5,0,0,0,0,0,0,0,0,...,1,4.99,NaN,NaN,46,435.45,NaN,NaN,2,23.15
3,04-01-13,6,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,49,539.24,NaN,NaN,NaN,NaN
4,05-01-13,7,0,0,0,0,0,0,0,0,...,5,36.26,NaN,NaN,38,505.27,NaN,NaN,NaN,NaN

In [5]:
import rpy2.interactive as r

ImportError: No module named rpy2.interactive